/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Basic */
body {
  color: #000;
  background: #fff  no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font: 300 18px/22px "Ruluko", sans-serif;
}

/* Typography */
h1, h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
}
h1 {
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.1em;
}
h2 {
  margin: 40px auto 10px auto;
  font-size: 27px;
  line-height: 33px;
}

/* Layout */
.container {
  width: 90%;
  max-width: 960px;
  margin: 50px auto 50px auto;
  text-align: center;
  color: #000;
}

/* Media Queries */
@media (max-width: 420px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 22px;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}


.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
