body {
  color: #000;
  background: #000 url(img/bg.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font: 300 18px/22px "Ruluko", sans-serif;
}

html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    overflow:hidden;  
}
