body {
  background: url(images/background-photo.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display: block;
	background-position: center center;
  background-color:#464646;
}

html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%
}
