body {
  color: #000;
  background: #000 url(img/bg.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font: 300 18px/22px "Ruluko", sans-serif;
}

html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    overflow:hidden;  
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 50px auto 50px auto;
  margin-top: 60vh;
  text-align: center;
  color: #fff;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top: 10px;
}
.button:hover,
.button:active {
  background-color: #fff;
  color: #000;
}
