
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}

/* Basic */
body {
  color: #000;
  background: #fff  no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font: 300 18px/22px "Ruluko", sans-serif;
}

/* Typography */
h1, h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
}
h1 {
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.1em;
}
h2 {
  margin: 40px auto 10px auto;
  font-size: 27px;
  line-height: 33px;
}

/* Layout */
.container {
  width: 90%;
  max-width: 960px;
  margin: 50px auto 50px auto;
  text-align: center;
  color: #000;
}

/* Media Queries */
@media (max-width: 420px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 22px;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}


.my-gallery {
  width: 100%;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: inline-block;
  margin: 0 1% 1% 0;
  width: 31%;
}
.my-gallery figcaption {
  display: none;
}


a {

color: #000;

text-decoration: none;

font-weight: bold;
}

a:hover {

	color: #841d21c4;

}

img {

	width: 100%;

}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 4px solid #841d21c4;
	z-index: 100;

}

#logo{

margin: 20px;

float: left;

width: 200px;

height: 60px;

background: url(../img/logo.png) no-repeat center;

display: block;
}

nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #841d21c4 url(../img/menu.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #841d21c4;

}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}



p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #ffffff;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
